<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Proffy | Sua plataforma de estudos online</title>
  <link rel="stylesheet" href="./CSS/main.css" />
  <link rel="stylesheet" href="./CSS/partials/page-give-classes.css" />
  <link rel="stylesheet" href="./CSS/partials/header.css" />
  <link rel="stylesheet" href="./CSS/partials/forms.css" />
  <link rel="stylesheet" href="./CSS/partials/page-success.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
    rel="stylesheet" />
</head>

<body id="page-success">
  <div id="container">
    <header class="page-header">
      <div class="top-bar-container">
        <img src="/images/icons/rocket.svg" alt="Rocket" />
        <img src="/images/logo.svg" alt="Proffy" />
      </div>
    </header>
    <main>
      <p>Parabéns! <br> Você acabou de encaminhar o formulário com seus dados <br> Seja bem-vindo(a) ao nosso time! </p>
      <img src="/images/icons/success-check-icon.svg" alt="ícone de sucesso de envio de formulário">
    </main>
  </div>
</body>

</html>